<div class="form-page container">

	<ol class="breadcrumb">
		  <li><%= link_to "Dashboard", artist_path(@artist) %></li>
		  <li class="active">Edit account</li>
	</ol>

	<h2>Edit Your Account
	<div class="pull-right delete-trash tip" data-toggle="modal" data-target=".delete-modal" rel="tooltip" data-original-title='Delete account'>
	    <span class="glyphicon glyphicon-trash"></span></div>
	</h2>

<div class="modal fade delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete your account?</p>
	    <div class="modal-buttons">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <%= link_to "Delete account", artist_path(@artist), method: :delete, class: "btn btn-default" %>
	    </div>
  	  </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<div>
		<%= render partial: "form", locals: { artist: @artist, submit_button_text: "Save changes"} %>
	</div>
</div>