<div class="form-page container">

	<ol class="breadcrumb">
		  <li><%= link_to "Dashboard", artist_path(@artist) %></li>
		  <li class="active">Edit account</li>
	</ol>

	<h2>Edit Your Account
	<%= link_to artist_path(@artist), method: :delete, class: "pull-right delete-trash tip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Delete account", 'data-placement' => 'top', data: { confirm: 'Are you sure you want to delete your account?' } do %>
	    <span class="glyphicon glyphicon-trash"></span>
	<% end %>
	</h2>

	<div>
		<%= render partial: "form", locals: { artist: @artist, submit_button_text: "Save changes"} %>
	<div>

</div>