<div class="form-page container">

	<div class="pull-left">
		<p>Thank you for your interest!</p>
		<p>We just need a few pieces of information from you and then you can get started.</p>
		<%= image_tag("cup_empty_big.png") %>

	</div> <!--end left float div-->


	<div class="pull-right">
		<%= render partial: "form", locals: { artist: @artist, submit_button_text: "Sign up"} %>
	</div><!--end right float div-->

</div>