<div id="artist-dash-wrapper" class="container">

<h1>Dashboard</h1>

<table id="item-table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Customer</th>
    </tr>
  </thead>

  <tbody>
    <% if @items.length > 0 %>
      <% @items.each do |item| %>
        <tr class="item-row">
          <td><%= link_to "#{item.name}", artist_item_path(item.artist_id, item) %></td>
          <td><%= link_to "#{item.customer_full_name}", artist_item_path(item.artist_id, item) %></td>
        </tr>
      <% end %>
      <% else %>
        <td colspan="2" id="no-items-notice">You haven't added any products to your dashboard yet.</td>
      <% end %>
  </tbody>
</table>

<%#= link_to "Send Test Email To Artist Address", send_test_email_path(@artist), class: "btn btn-default" %>
<br>

<%= link_to "Add new product", new_artist_item_path(@artist), class: "btn btn-default" %>

<%= link_to "Edit your settings", edit_artist_path, class: "btn btn-default" %>

</div>