<h1>Cupdate</h1>
<h2>the cup updater app</h2>

<div id="buttons">
	<%= link_to "Sign up", new_artist_path, class: "btn btn-default" %>
	<%= link_to "Log in", sign_in_path, class: "btn btn-default" %>
</div>
