<div class="form-page container">

<h2>Edit <%= @item.name %></h2>

	<div class="pull-left">
		<%= image_tag("cup_empty_big.png") %>
	</div> <!--end left float div-->

	<div class="pull-right">
		<%= render partial: "form", locals: { artist: @artist, item: @item, submit_button_text: "Save changes"} %>
		<%= link_to "Delete this product", artist_item_path, method: :delete, class: "btn btn-default" , data: { confirm: 'Are you sure you want to delete this product?' } %>
	</div>

</div>