<div class="form-page container">

<ol class="breadcrumb">
	<li><%= link_to "Dashboard", artist_path(@artist) %></li>
	<li class="active">Add project</li>
</ol>

<h2>Add a new project</h2>


	<div>
		<%= render partial: "form", locals: { artist: @artist, item: @item, submit_button_text: "Add to dashboard"} %>
	</div>

</div>