<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cupdate, <%= @artist.first_name %></h1>
    <p>We really hope you love it!</p>
    <p>Thanks for joining and have a great day!</p>
    <p>Best,</p>
    <p>Your friends at Cupdate</p>
  </body>
</html>