/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*------- GLOBAL CUPDATE STYLES -------*/

$darkBlue: #33334C;
$lightBlue: #009FFF;
$hover: #1e1e30;
$darkRed: #fd5049;
$lightRed: #fd8476;

html {
	position: relative;
	min-height: 100%;
}

body {
	background: $darkRed;
	color: $darkBlue;
	font-family: 'Roboto', sans-serif;	
	font-weight: 300;
	height: 100%;
	padding-top: 80px;
}

#app-wrap {
	text-align: left;
	padding-bottom: 230px;

.container {
	max-width: 1000px;
}

.breadcrumb {
	background-color: transparent;
	font-size: 20px;
	color: $darkBlue;
	margin-left: 0;
	padding-left: 0;
	a, a:visited {
		color: $darkBlue;
	}
	a:hover, a:active {
		color: $darkBlue;
	}
	.active {
		color: $darkBlue;
	}
	li:before {
		color: $darkBlue;
	}
}

.btn-default, input[type=submit] {
	border: none;
	color: #fff;
	background-color: $darkBlue;
	font-size: 24px;
	padding: 6px 12px;
	border-radius: 10px;
}

.btn-default:hover, input[type=submit]:hover {
		color: $darkRed;
		background-color: $hover;
	}

}

.alert {
	background-color: $lightRed;
	position: absolute;
	top: 0;
	height: 70px; //this should be the pixel height of the nav bar
	width: 100%;
	z-index: 20000;
	text-align: center;
	font-size: 24px;
	color: #fff;
	padding-top: 10px;
	border-radius: none;
	border: none;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

#buttons {
	margin-top: 70px;
}

input, textarea {
	border: solid 2px $darkBlue;
	border-bottom: solid 2px #fff;
	background-color: $lightRed;
	color: $darkBlue;
}

label {
	font-weight: normal;
	margin: 0;
	font-size: 20px;
}

::-webkit-input-placeholder {
   color: $darkBlue;
   font-size: 24px;
}

:-moz-placeholder { 
   color: $darkBlue;
   font-size: 24px;  
}

::-moz-placeholder {  
   color: $darkBlue;
   font-size: 24px;  
}

:-ms-input-placeholder {  
   color: $darkBlue;
   font-size: 24px;  
}

a {
		color: #fff;
}

/*------- NAV -------*/


.navbar-default {
	background-color: $darkBlue;
	border: none;
	height: 70px;
	font-family: 'Josefin Sans', sans-serif;
	.navbar-nav {
		li {
			font-size: 24px;
			color: #fff !important;
			height: 70px;
			a {
				padding-top: 25px;
				padding-bottom: 25px;
				color: #fff;

			}
			a:hover, a:active {
				color: #fff;
			}
		}
		.nav-not-link {
			padding: 20px 15px;
		}
	}

	ul.nav > li:hover, ul.nav > li:focus {
		background-color: $hover;
	}

	.navbar-toggle {
		border: none;
		margin-top: 2px;
		&:hover, &:focus {
			background-color: transparent;
			.icon-bar {
				background-color: $darkRed;
			}
		}
		.icon-bar {
			background-color: #fff;
			margin-top: 10px;
			width: 38px;
			height: 2px;
			border-radius: 1px;
		}
	}

}

.nav-logo {
	padding-top: 15px;
	max-width: 80%;
}

#nav-account {
	display: none;
}

/*------- FOOTER -------*/

footer {
	position: absolute;
	bottom: 0;
	/*border-top: solid 2px #fff;*/
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	a:hover {
		color: $darkBlue;
		text-decoration: none;
	}
	p {
		margin: 0;
	}
	img {
		display: block;
		margin: 0 auto;
		position: relative;
		bottom: 25px;
	}
	#footer-img{
		 position: relative;
		&:before, &:after {
                   	border-top: 2px solid #fff;
                    display: block;
                    height: 1px;
                    content: " ";
                    width: 38%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:after {
                    right: 0;
                    left: auto;
                }
	}

}

/*------- HOME PAGE -------*/

#home-wrapper{

	color: #fff;
	text-align: center;

	h1 {
		font-size: 60px;

		span {
			display: block;
		}
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 36px;
		font-weight: 300;
	}

	p {
		font-size: 24px;
	}

	#banner {
		padding: 30px 0 50px;
		background-color: $darkRed;
	}

	#how-it-works {
		text-align: left;
		background-color: $darkBlue;
		padding: 50px 0;
		h3 {
			margin-bottom: 50px;
			text-align: center;
		}
		.row {
			margin-bottom: 30px;
		}
	}

	.glyphicon {
		font-size: 60px;
		float: left;
		margin-top: 20px;
		margin-right: 40px;
	}

	#sign-up {
		background-color: $lightBlue;
		/*padding: 100px 0;*/
		.btn {
			background: #fff;
			color: $lightBlue;
			font-size: 36px;
			margin: 200px auto 100px;
		}
		.btn:hover {
			background: $darkBlue;
		}
		/*p {
			width: 500px;
			margin: 0 auto 50px;
		}
		span {
			display: block;
		}*/
	}

}

.home {
	#app-wrap {
		background-color: $lightBlue;
	}
}


/*------- SIGN UP PAGE -------*/

#sign-up-page {

	padding-top: 30px;

	h2 {
		margin-bottom: 50px;
	}

	p {
		color: #fff;
		margin-bottom: 30px;
	}

	p:last-of-type {
		margin-bottom: 75px;
	}

	.pull-left {
		max-width: 50%;
		font-size: 18px;
		text-align: left;
		img {
			margin: 0 auto;
			width: 80%;
		}
	}

	.pull-right {
		text-align: left;
		label {
		margin-left: 0;
		font-size: 24px;
		}
		.btn {
		margin-top: 25px;
		float: right;
		}
	}

	input[type="text"], input[type="password"] {
		width: 100%;
		font-size: 24px;
	}
}

/*------- FORM PAGES -------*/

.form-page {
	text-align: left;
	font-size: 24px;

	h2 {
		color: #fff;
		border-bottom: solid 2px #fff;
	}

	label {
		font-size: 24px;
		margin: 10px 0 5px;
	}

	input[type="text"], input[type="password"], textarea {
		width: 100%;
	}

	 .btn-default {
		font-size: 24px !important;
		margin-top: 25px;
	}

	.glyphicon {
		font-size: 36px;
	}

	a:hover {
		color: #fff;
	}

	.tooltip-inner {
		font-size: 24px;
		font-weight: 400;
		font-family: 'Josefin Sans', sans-serif;
		background-color: $darkRed;
	}

	.tooltip-arrow {
		border: none;
	}

}

/*------- ARTIST DASHBOARD -------*/

#artist-dash-wrapper {

	h1 {
		font-size: 48px;
		color: #fff;
		width: 100%;
		border-bottom: solid 2px #fff;
		text-align: left;
	}

	table {
		border: solid 1px #fff;
		font-size: 24px;
		margin: 50px 0 25px;
		width: 100%;
		a, , a:visited{
			color: $darkBlue;
			text-decoration: none;
		}
		a:hover, a:active {
			color: #fff;
			text-decoration: none;
		}
	}

	th {
		text-align: left;
		padding: 10px 20px;
		border-bottom: solid 1px #fff;
		border-right: solid 1px #fff;
	}

	td {
		padding: 10px 20px;
		text-align: left;
		border-bottom: solid 1px #fff;
		border-right: solid 1px #fff;
	}

	.item-row:hover {
		a {
			color: #fff;
		}
	}

	#no-items-notice {
			font-size: 24px;
		}
}	

/*------- ITEM DASHBOARD -------*/
#item-dash-wrapper {

	text-align: left;

	h1, h2 {
		color: #fff;
	}

	h1 {
		font-size: 48px;
		width: 100%;
		border-bottom: solid 2px #fff;
		padding-bottom: 10px;
	}

	h2 {
		font-size: 36px;
	}

	p {
		font-size: 22px;
		line-height: 1.5em;
	}

	.btn-default.protip {
		font-weight: 400;
		float: none;
		font-size: 16px;
		padding: 4px 10px 0;
		margin-top: -10px;
		margin-right: 10px;
		border-radius: 10px;
	}

	#update-help {
		float: right;
		margin-top: 0px;
		padding: 4px 10px 2px;
	}

	.popover-content {
		font-size: 16px;
	}

	#status-icons {
		margin: 50px 0;
		h2 {
			color: $darkBlue;
		}
		h3 {
			font-size: 24px;
			font-weight: normal;
			display: inline-block;
			margin-left: 20px;
			text-transform: capitalize;
		}

	}

	.single-status .glyphicon {
		color: $darkBlue;
		font-size: 24px;
	}

	.active-status h3 {
		color: #fff;
	}

	.active-status .glyphicon {
		color: #fff;
	}

	#item_note {
		margin-bottom: 10px;
		padding: 10px;
		font-size: 24px;
		width: 100%;
		background-color: $lightRed;
		border: solid 2px $darkBlue;
		border-bottom: solid 2px #fff;
	}

	form .btn {
		font-size: 24px;
		float: right;
	}

	#item-edit-button {
		float: left;
		font-size: 24px;
	}
}

/*------------MEDIA QUERIES-----------*/

@media (max-width: 691px) {
	.navbar-default .navbar-nav {
		background-color: $darkBlue;
		margin-top: 0px;
		li a {
			text-align: center;
			text-decoration: none;
			font-size: 36px;
		}
	}

	.navbar-default .navbar-collapse {
			border: none;
		}

	#nav-signed-in {
		display: none;
	}
	#nav-account {
		display: block;
	}
}

@media (min-width: 1200px) {
.container {
	width: 1000px;
}
}